.slidePrev,
.slideNext {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  top: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  opacity: 0.5;
  cursor: pointer;
  top: 50%;
  transition: all 0.5s ease;
  &:hover {
    opacity: 1;
  }
  &:disabled {
    opacity: 0.5;
  }
  &:disabled:hover {
    opacity: 0.5;
    cursor: default;
  }
}

.slidePrev {
  background-image: url('../../../common/icons/sliderPrev.svg');
  left: 1rem;
}
.slideNext {
  background-image: url('../../../common/icons/sliderNext.svg');
  right: 1rem;
}

.loader {
  position: absolute;
  top: 50%;
  right: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
