.deleteBtn {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.sequence {
  margin-right: 0.3rem;
}
