.openBtn {
  width: 2rem;
  height: 2rem;
  background: transparent;

  &:hover {
    cursor: pointer;
  }
}

.progressMode {
  font-size: 1.5rem;
  color: #38858a;
}

.progressTime {
  font-size: 4rem;
  color: #38858a;
}

.actionBtn {
  width: 2.5rem;
  height: 2.5rem;
  background: transparent;
  margin-top: 0.5rem;
  &:hover {
    cursor: pointer;
  }
}

.settings {
  margin-top: 2rem;

  &Title {
    margin-bottom: 0.7rem;
  }
}
