.drawer {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  background: #faf9f8;
  transition: all 0.3s;
  visibility: hidden;
  z-index: 10;

  &.open {
    opacity: 1;
    visibility: visible;
    width: 100%;
  }
}

.content {
  padding: 1rem;
}

.close {
  width: 1.5rem;
  height: 1.5rem;
  background: inherit;
  &:hover {
    cursor: pointer;
  }
}

.title {
  font-weight: 400;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-bottom: 2rem;
}

.divider {
  position: absolute;
  bottom: -1rem;
  left: -1rem;
  right: -1rem;
  height: 1px;
  background-color: #000;
}
